body {
    height: 100%;
    color: rgb(230, 230, 230)       !important;
    background-color: black         !important;
}

a{
    text-decoration: none             !important;
}

h2{
    margin-top: 10px;
    width: 30%;
    background-color: #474747       !important;
    color: #f8f8f8                  !important;
    text-align: center;
    display: inline-block;
}

#headerCreate{
    margin-top: 0;
    color: rgb(230, 230, 230)       !important;
    background-color: #645c5c       !important;
    border: 2px solid black         !important;
    margin-bottom: 40px;
    padding: 3px;
}

p{
    width: 30%;
    display: inline-block;
}

#headerUpdate{
    /* background-color:rgb(39, 131, 184); */
    color:rgb(39, 131, 184)         !important;
    text-decoration: none             !important;
    /* border:1px solid grey; */
    /* padding:3px; */
    /* margin-right:3px; */
}

#headerDelete{
    /* background-color:rgb(199, 4, 4); */
    color:rgb(199, 4, 4)            !important;
    text-decoration:none              !important;
    /* border:1px solid grey; */
    padding:3px;
}